## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
sample_list_1 = random.sample(range(101), k = 80)
print(sample_list_1)

[70, 71, 93, 57, 38, 65, 75, 84, 62, 32, 54, 73, 22, 92, 42, 49, 37, 21, 79, 39, 95, 25, 26, 18, 7, 87, 41, 51, 86, 50, 66, 83, 29, 61, 30, 69, 0, 60, 77, 64, 100, 90, 78, 55, 56, 88, 45, 28, 23, 3, 10, 48, 63, 15, 74, 76, 58, 44, 24, 72, 33, 52, 16, 91, 2, 99, 82, 96, 9, 98, 67, 17, 20, 81, 11, 34, 85, 43, 31, 35]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [17]:
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:

sample_list_2 = []

#Usamos un for loop sobre un rango de 0:79 y por cada iteración añadimos a la lista un número al azar del 1 al 100.
for e in range(80):
    rnd = random.sample(range(101), k = 1)
    #Añadimos un indice a rnd porque el output de la función sample es una lista (una lista de 1 elemento en este caso) 
    sample_list_2.append(rnd[0])

print(len(sample_list_2))

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
set2 = set(sample_list_2)
print(len(set2))

#La longitud del set2 es menor porque los set no guardan valores repetidos.

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
set3 = set1.difference(set2)
print(set3)

{10, 11, 15, 16, 18, 20, 23, 24, 29, 35, 39, 41, 42, 44, 49, 50, 51, 54, 55, 56, 57, 61, 62, 63, 64, 66, 69, 70, 75, 76, 77, 81, 82, 87, 88, 90, 91, 93, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
set4 = set2.difference(set1)
print(set4)

{1, 97, 68, 5, 6, 8, 40, 59, 12, 13, 14, 46, 47, 89, 27}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
set5 = set1.intersection(set2)
print(set5)

{0, 2, 3, 7, 9, 17, 21, 22, 25, 26, 28, 30, 31, 32, 33, 34, 37, 38, 43, 45, 48, 52, 58, 60, 65, 67, 71, 72, 73, 74, 78, 79, 83, 84, 85, 86, 92, 95, 98, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [10]:
print(len(set1), len(set2), len(set3), len(set4), len(set5))

#La longitud de el set1 es la suma de las diferencias con el set2 y las similitudes con el set2
print(len(set3) + len(set5) == len(set1))
#De la misma manera La longitud de el set2 es la suma de las diferencias con el set1 y las similitudes con el set1
print(len(set4) + len(set5) == len(set2))

80 56 39 15 41
True
True

#### Create an empty set called `set6`.

In [11]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [12]:

#Aquí intenté primero hacer un doble update (set6.update(set3.update(set5))), pero no funcionó. 
#Además, si no me equivoco, no sería correcto porque estaría modificando set3 a la vez

set6.update(set3)
set6.update(set5)
print(set3)

{10, 11, 15, 16, 18, 20, 23, 24, 29, 35, 39, 41, 42, 44, 49, 50, 51, 54, 55, 56, 57, 61, 62, 63, 64, 66, 69, 70, 75, 76, 77, 81, 82, 87, 88, 90, 91, 93, 96}

#### Check if `set1` and `set6` are equal.

In [13]:

#Como los sets no tienen orden, podemos compararlos directamente sin importarnos la posición de sus elementos
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [14]:
#Contiene el set1 a el set2?
print(set2.issubset(set1))

#Contiene el set3 al set1?
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [64]:
print(set3.union(set4, set5) == set1.union(set2))

True

#### Using the `pop` method, remove the first element from `set1`.

In [18]:
print(set1)
pop = set1.pop()

#En python 3, la función pop() elimina el primer elemento del set
print(pop)
print(set1)

{0, 2, 3, 7, 9, 10, 11, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 41, 42, 43, 44, 45, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 95, 96, 98, 99, 100}
0
{2, 3, 7, 9, 10, 11, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 41, 42, 43, 44, 45, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 95, 96, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [19]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

#print(set1)
#Uso la función discard() que, al contrario que remove(), no lanza errores si el elemento no existe en el set
for e in list_to_remove:
    set1.discard(e)
print(set1)

{2, 3, 7, 10, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 28, 30, 32, 33, 34, 35, 37, 38, 42, 43, 44, 45, 48, 50, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 70, 72, 73, 74, 75, 76, 77, 78, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 95, 96, 98, 100}