# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from pprint import pprint
import json
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
# import random
# import re
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [204]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [5]:
#Get the data
def getsoup(url):
    res = requests.get(url)
    return BeautifulSoup(res.text)
soup = getsoup(url)

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [5]:
articles = soup.select("article.Box-row.d-flex")

lst=[]
for art in articles:
    a = art.find_all('a')[2].text.strip()
    b = art.find_all('a')[3].text.strip()
    lst.append(f'{a} ({b})')
lst

['Jeremy Apthorp (nornagon)',
 'Jonah Williams (jonahwilliams)',
 'Felix Angelov (felangel)',
 'chencheng (云谦) (sorrycc)',
 'Sebastián Ramírez (tiangolo)',
 'Mariusz Nowak (medikoo)',
 'Dawid Urbaniak (Trancever)',
 'Jeffrey Su (JeffreySu)',
 'Hugo Bowne-Anderson (hugobowne)',
 'Felipe Fialho (felipefialho)',
 'Yuri Shkuro (yurishkuro)',
 'R.I.Pienaar (ripienaar)',
 'Zeno Rocha (zenorocha)',
 'Maxim Kulkin (maximkulkin)',
 'Robert Mosolgo (rmosolgo)',
 'Pierre Krieger (tomaka)',
 'Iman (imanghafoori1)',
 'Luis Alvarez D. (lfades)',
 'Matic Zavadlal (maticzav)',
 'Marten Seemann (marten-seemann)',
 'David Peter (sharkdp)',
 'Jake Wharton (JakeWharton)',
 'Jeff Bezanson (JeffBezanson)',
 'James Munnelly (munnerz)',
 'Matthew Johnson (mattjj)']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [275]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [282]:
soup = getsoup(url)

articles = soup.select('article.Box-row')
lst = []
for art in articles:
    lst.append(art.select('h1 > a')[0]['href'].split('/')[-1])
lst

['pluradl.py',
 'SReC',
 'interview_internal_reference',
 'face_recognition',
 'skillbox-async-chat',
 'deocclusion',
 'text-to-text-transfer-transformer',
 'GitHub-Chinese-Top-Charts',
 'fastapi',
 'Real-Time-Voice-Cloning',
 'core',
 'ObstructionRemoval',
 'Whole-Foods-Delivery-Slot',
 'Games',
 'doccano',
 'jax',
 'HanLP',
 'pygta5',
 'ray',
 'elastalert',
 'InstaPy',
 'transformers',
 'Self-Driving-Car-in-Video-Games',
 'keras-retinanet',
 'airflow']

#### Display all the image links from Walt Disney wikipedia page

In [272]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [273]:
soup = getsoup(url)
images = soup.find_all('img')

lst=[]
for img in images:
    lst.append(img['src'])
lst[:5]

['//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/1/1b/Semi-protection-shackle.svg/20px-Semi-protection-shackle.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [270]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [271]:
soup = getsoup(url)
ul = soup.select('#bodyContent ul')

l=[]
for li in ul[2:]: #The first ul are the links to the content box in the right
    lis = li.select('li')
    for a in lis:
        l.append(a.select('a')[0]['href'])
l[:5]

['/wiki/Pythonidae',
 '/wiki/Python_(genus)',
 '/wiki/Python_(genus)',
 '/wiki/Python_(mythology)',
 '/wiki/Python_of_Aenus']

#### Number of Titles that have changed in the United States Code since its last release point

In [12]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [13]:
soup = getsoup(url)
#Conveniently, all changed titles have theyr own class :)
len(soup.select('.usctitlechanged'))

4

#### A Python list with the top ten FBI's Most Wanted names

In [14]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [15]:
soup = getsoup(url)
img = soup.select('#query-results-0f737222c5054a81a120bce207b0446a  a  div  img')

ls = [e['alt']for e in img]
ls

['YASER ABDEL SAID',
 'ALEXIS FLORES',
 'EUGENE PALMER',
 'SANTIAGO VILLALBA MEDEROS',
 'RAFAEL CARO-QUINTERO',
 'ROBERT WILLIAM FISHER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ',
 'JASON DEREK BROWN']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [16]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [19]:
soup = getsoup(url)
tr = soup.select('#content table:nth-of-type(2) tbody tr')
def getdict(tr):
    date = tr.select('.tabev6 b a')[0].text[:10]
    time = tr.select('.tabev6 b a')[0].text[-10:-2]
    lat = tr.select('.tabev1')[0].text.strip()
    lon = tr.select('.tabev1')[1].text.strip()
    reg = tr.select('.tb_region')[0].text.strip()
    return {'date': date,
            'time': time,
            'latitude':lat,
            'longitude': lon,
            'region' : reg}

#getdict(tr[0])
df_list = list(map(getdict, tr))
df = pd.DataFrame(df_list)
df.head()

         date      time latitude longitude                      region
0  2020-04-09  17:56:59    17.93     66.95          PUERTO RICO REGION
1  2020-04-09  17:26:27     5.32     68.69   CHAGOS ARCHIPELAGO REGION
2  2020-04-09  16:57:16     7.31    129.32  KEPULAUAN BABAR, INDONESIA
3  2020-04-09  16:50:33    33.25    116.64         SOUTHERN CALIFORNIA
4  2020-04-09  16:30:28    42.11     20.70                    KOSOVO *

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [ ]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'

In [ ]:
#This is not a valid url anymore

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [30]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/DesdeLaCueva'

In [32]:
soup = getsoup(url)
tweets = soup.select('.r-sb58tz > div:nth-child(2) > div:nth-child(1) > div:nth-child(2)')
tweets

[]

**No me funciona ninguna css select en esta, ni siquiera copiando el selector del inspector '.r-sb58tz > div:nth-child(2) > div:nth-child(1) > div:nth-child(2)'**

**He copiado el html completo en un vscode para buscar palabras clave, y parece que no es el mismo código que en la web... no se...**

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [151]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [159]:
soup = getsoup(url)
#soup
#Los de twitter no me funcionan :( :(

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [6]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [29]:
soup = getsoup(url)
num = soup.select('#js-lang-lists h2 bdi')
number_articles = [n.text.replace(u'\xa0', '').strip() for n in num]

lang = soup.select('#js-lang-lists ul li a')

languages = []
for l in lang:
    try:
        languages.append(l['title'].strip())
    except:
        languages.append(l.text.strip())
print(number_articles)
print(languages[:10])

['1000000+', '100000+', '10000+', '1000+', '100+']
['Al-Ê¿ArabÄ«yah', 'Deutsch', 'English', 'EspaÃ±ol', 'FranÃ§ais', 'Italiano', 'Nederlands', 'Nihongo', 'Polski', 'PortuguÃªs']

#### A list with the different kind of datasets available in data.gov.uk

In [84]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [90]:
soup = getsoup(url)
kinds = soup.select('main a')
[k.text for k in kinds]

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [92]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [119]:
soup = getsoup(url)
table = soup.select('table')
#THe first one is the one we are interested in
rows = table[0].select('tr')

def langdict(row):
    return {'language':row.select('td')[1].text.strip(),
             'mill_speakers': row.select('td')[2].text.strip(),
             '%world': row.select('td')[3].text.strip()}
df = pd.DataFrame(list(map(langdict,rows[1:])))
df.head()

                             language mill_speakers  %world
0                    Mandarin Chinese           918  11.922
1                             Spanish           480   5.994
2                             English           379   4.922
3  Hindi (Sanskritised Hindustani)[9]           341   4.429
4                             Bengali           228   2.961

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
#No twitter :(

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [162]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [179]:
soup = getsoup(url)
rows = soup.select('[data-caller-name="chart-top250movie"] tbody tr')

def movdict(row):
    return {'title':row.select('.titleColumn a')[0].text,
             'init_rele': row.select('.titleColumn span')[0].text[1:5],
           'director':row.select('.titleColumn a')[0]['title'].split('(')[0].strip(),
             'stars': row.select('.ratingColumn.imdbRating')[0].text.strip()}
df_movies = pd.DataFrame(map(movdict,rows))
df_movies.head()

                   title init_rele              director stars
0        Cadena perpetua      1994        Frank Darabont   9.2
1             El padrino      1972  Francis Ford Coppola   9.1
2   El padrino: Parte II      1974  Francis Ford Coppola   9.0
3    El caballero oscuro      2008     Christopher Nolan   9.0
4  12 hombres sin piedad      1957          Sidney Lumet   8.9

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [189]:
soup = getsoup(url)
rows = soup.select('[data-caller-name="chart-top250movie"] tbody tr')

def movdict2(row):
    l1 = row.select('.titleColumn a')[0]['href']
    url1 = 'https://www.imdb.com' + l1
    desc = getsoup(url1)
    summ = desc.select('.summary_text')[0].text.strip()
    return {'title':row.select('.titleColumn a')[0].text,
             'init_rele': row.select('.titleColumn span')[0].text[1:5],
           'summary':summ}
df_movies_top10 = pd.DataFrame(map(movdict2,rows[:10]))
df_movies_top10.head()

,title,init_rele,summary
0,Cadena perpetua,1994,Two imprisoned men bond over a number of years...
1,El padrino,1972,The aging patriarch of an organized crime dyna...
2,El padrino: Parte II,1974,The early life and career of Vito Corleone in ...
3,El caballero oscuro,2008,When the menace known as the Joker wreaks havo...
4,12 hombres sin piedad,1957,A jury holdout attempts to prevent a miscarria...

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [239]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

Enter the city:Orce

In [243]:
soup = getsoup(url)
js = json.loads(str(soup))
pprint({'temperature' : js['main']['temp'],
       'Wind speed' : js['wind']['speed'],
        'Main weather' : js['weather'][0]['main'],
        'Description': js['weather'][0]['description']})

{'Description': 'overcast clouds',
 'Main weather': 'Clouds',
 'Wind speed': 2.51,
 'temperature': 12.05}

#### Book name,price and stock availability as a pandas dataframe.

In [244]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [268]:
soup = getsoup(url)
book = soup.select('article.product_pod')

def bookdict(row):
    return {'title':row.select('h3 a')[0]['title'],
             'price': row.select('p.price_color')[0].text[1:],
           'stock_availability':row.select('p.instock.availability')[0].text.strip()}
df_books = pd.DataFrame(map(bookdict,book))
df_books.head()

                                   title   price stock_availability
0                   A Light in the Attic  £51.77           In stock
1                     Tipping the Velvet  £53.74           In stock
2                             Soumission  £50.10           In stock
3                          Sharp Objects  £47.82           In stock
4  Sapiens: A Brief History of Humankind  £54.23           In stock